.accountBackground {
    background-image: url(../components/sus.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    min-height: 85vh;
}

.accountTitle {
    color: #243733;
    margin: 15px;
}

.linkList {
    background-color: #DFECE3;
    border-bottom: 1px solid #243733;
    box-shadow: 20px 20px 80px #243733;
    border-radius: 5px;
    width: 40%;
    height: 170px;
    opacity: 95%;
    color: white;
    margin: 150px;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.tr {
   width: 90%; 
   border: 1px solid transparent;
   border-radius: 3px;
   
   padding: 10px;
 }

.accountLink {
    cursor: pointer;  
    border: none;
    text-decoration: none;
}

.accountLink:visited {
    color:#243733;
}

.accountLink:hover {
    color: #AF9842;
}