img {
    height: 140px;
    border: 1px solid transparent;
    border-radius: 3px;
    width: 100%;
}

.productContainer {
    background-color: #ffffff;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    justify-content: center;
    justify-items: center;
    align-content: end;
    align-items: center;
    margin: 15px;
    width: 98%;
}

.productCard {
    background-color: #DFECE3;
    padding: 0px;
    justify-self: end;
    align-self: end;
    border: 0px solid transparent;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    width: 220px;
    height: 280px;
}

.formBtn {
    border: 2px solid transparent;
    border-radius: 3px;
    color: #DFECE3;
    background-color:#243733;
    padding: 5px;
    cursor:pointer;
    margin-bottom: 0px;
    margin-right: 5px;
}

.formBtn:hover {
    border: 2px solid #243733;
    color: #243733;
    background-color:#DFECE3;
}

.title {
    font-size: 18px;
    padding-bottom: 8px;
    padding-left: 5px;
}

.description {
    font-size: 15px;
    padding-bottom: 8px;
    padding-left: 5px;
}

.productStatus {
    font-size: 12px;
    padding-bottom: 8px;
    padding-left: 5px;
}

.btnContainer {
    display: flex;
    justify-content: center;
}

.editBtn {
    border: 2px solid transparent;
    border-radius: 3px;
    color: #DFECE3;
    background-color:#243733;
    padding: 5px;
    cursor:pointer;
    margin-bottom: 0px;
    margin-right: 5px;
}

.editForm {
    border-bottom: 1px solid black;
    margin: 5px;
}